# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma
/app/generated/prisma
node_modules/.prisma

# Vercel
.vercel

# Build artifacts
*.tmp
*.temp
